* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: helvetica, sans-serif;
  background-color: #323232;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  height: 100vh;
}
a {
  text-decoration: none;
  color: #ffffff;
}

h1 {
  line-height: 2.5rem;
}

p {
  line-height: 1.875rem;
}

#home {
  padding: 160px 20px;
}

.home-cta-1 {
  margin-bottom: 40px;
}

.home-cta-2 {
  margin-bottom: 20px;
}
.cta-btn {
  margin-bottom: 40px;
  width: 150px;
  height: 40px;
  border-radius: 15px;
  padding-top: 10px;
  background-image: linear-gradient(to right, #3eacbd, #016774);
  text-align: center;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
}

.cta-image {
  max-width: 100%;
}

#about {
  display: flex;
  flex-direction: column;
}

.about-img {
  max-width: 100%;
  z-index: -1;
}

.about-content {
  margin-top: -120px;
  padding-left: 20px;
}

.heading {
  margin: 0 20px 0;
}

.about-content-2,
.experience-card-2 {
  margin-top: 20px;
  padding: 20px;
}

.contact {
  margin: 80px 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tl {
  visibility: hidden;
}

#service {
  display: flex;
  flex-direction: column;
}

.services-card-img {
  margin: 0 40px 20px;
  width: 305px;
  border-radius: 15px;
}

.services-card-holder {
  margin: 0 40px 80px;
  width: 305px;
  height: 66px;
  border-radius: 15px;
  /* background-image: linear-gradient(to right, #5b5b5b 60%, #5b5b5b 80%); */
  border-style: solid;
  border-width: 1px;
  border-color: rgb(165, 165, 165, 20%);
  box-shadow: 15px 15px 50px rgb(0 0 0 / 0.4);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sevices-sub-card {
  font-size: 2rem;
  font-weight: 700;
}

@media (min-width: 62em) {
  .hamburger {
    display: none;
  }