@import "nav.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  font-family: helvetica, sans-serif;
  background-color: #323232;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  height: 100vh;
}

section {
  scroll-snap-align: center;
}

main {
  height: 100vh;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1 {
  line-height: 2.5rem;
}

p {
  line-height: 1.875rem;
}

.cta-img-holder {
  padding: 30em 10em 0 10em;
  background-image: url("../images/splash.jpeg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 90vw;
}

.home-cta {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.home-cta-1 {
  margin-bottom: 40px;
}

.home-cta-2 {
  margin-bottom: 20px;
}
.cta-btn {
  width: 150px;
  height: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 100rem;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(101deg, #3eacbd, #016774) 1;
}

#about {
  display: flex;
  flex-direction: column;
}

.about-img {
  max-width: 100%;
  z-index: -1;
}

.about-content {
  margin-top: -120px;
  padding-left: 20px;
}

.heading {
  margin: 0 20px 0;
}

.about-content-2,
.experience-card-2 {
  margin-top: 20px;
  padding: 20px;
}

.contact {
  margin: 80px 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tl {
  visibility: hidden;
}

.services-card-img-wrapper {
  display: flex;
  justify-content: center;
}

.sevices-sub-card {
  position: relative;
  margin-top: 1.25rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  z-index: 0;
}
.services-card-img {
  width: 19.0625rem;
  border-radius: 15px;
}

.services-card-holder {
  width: 305px;
  height: 66px;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(165, 165, 165, 20%);
  box-shadow: 15px 15px 50px rgb(0 0 0 / 0.4);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 62em) {
  .hamburger {
    display: none;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  section {
    height: 100vh;
    width: 100%;
  }

  nav {
    all: revert;
    position: fixed;
    height: 86px;
    width: 800px;
    margin-top: 40px;
    box-shadow: 0 8px 32px 0 rgba(0 0 0 / 0.4);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 25px 0 0 25px;
    border: 1px solid rgba(165, 165, 165, 0.2);
    border-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    z-index: 4;
  }

  .cta-btn-nav {
    visibility: visible;
    margin: 25px 30px 0 0;
  }

  .nav-menu {
    all: revert;
    list-style: none;
    visibility: visible;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  li {
    all: revert;
    margin: 1.25rem 0 0 1.25rem;
    display: flex;
  }

  li a {
    margin-right: 1.25rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
  }

  #home {
    margin-bottom: 40px;
    padding: 0 0;
    background: url("../images/splash.jpeg") no-repeat center center/cover;
  }

  .cta-img-holder {
    all: revert;
  }

  .home-cta {
    all: revert;
    height: 19.375rem;
    width: 68.0625rem;
    left: 0px;
    top: 30%;
    position: relative;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(0 0 0 / 0.4);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 0 25px 25px 0;
    border: 1px solid rgba(165, 165, 165, 0.2);
    border-left: 0;
    z-index: 2;
  }

  .home-cta-1 {
    all: revert;
    line-height: 39px;
    margin-bottom: 20px;
  }

  p {
    line-height: 30px;
  }

  .cta-btn-splash {
    margin-bottom: 40px;
  }
  #about {
    all: revert;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas:
      "aside content"
      "contact contact";
  }

  aside {
    position: relative;
    background: url("../images/2.jpeg") no-repeat center center/cover;
    max-height: 100vh;
    width: 700px;
    grid-area: aside;
    z-index: -1;
  }

  .back {
    position: relative;
    height: 100vh;
    grid-area: content;
    z-index: -4;
    display: flex;
    flex-direction: column;
    background: blue;
  }

  .about-content {
    all: revert;
    position: relative;
    height: 620px;
    width: 1010px;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(0 0 0 / 0.4);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 0 25px 25px 0;
    border: 1px solid rgba(165, 165, 165, 0.2);
    border-left: 0;
    z-index: 2;
  }

  .tl {
    visibility: visible;
    font-size: 15vw;
    color: #525151;
    font-weight: bold;
    width: 800;
  }

  #about-background-text-1 {
    margin-top: 250px;
    margin-bottom: 500px;
    padding-left: 80px;
  }

  #about-background-text-2 {
    padding-left: 5px;
  }

  #services {
    all: revert;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.25fr 0.5fr;
    grid-template-areas:
      "card1 card2 card3"
      "title1 title2 title3"
      "space-left contact space-right";
  }

  .services-card-img-wrapper {
    margin-top: 10rem;
  }

  .services-card-img {
    width: 80%;
  }

  #c1 {
    grid-area: card1;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  #c2 {
    grid-area: card2;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  #c3 {
    grid-area: card3;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .sevices-sub-card {
    margin-bottom: 0px;
    grid-area: title1;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  #t1 {
    grid-area: title1;
  }

  #t2 {
    grid-area: title2;
  }

  #t3 {
    grid-area: title3;
  }

  #services-contact {
    grid-area: contact;
  }

  #experience {
    margin-bottom: 40px;
    padding: 0 0;
    background: url("../images/6.jpeg") no-repeat center center/cover;
    filter: brightness(80%);
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .experience-card {
    position: relative;
    left: 0px;
    top: 30%;
    padding: 2.5rem 1.25rem;
    box-shadow: 0 8px 32px 0 rgba(0 0 0 / 0.4);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    /* border-radius: 0 25px 25px 0; */
    border: 1px solid rgba(165, 165, 165, 0.2);
    border-left: 0;
    z-index: 2;
  }

  #experience-card-1 {
    margin-top: 2.5rem;
  }
  .experience-card-2 {
    all: revert;
    padding-left: 1.25rem;
    margin: 0 0 1.25rem 0;
  }

  #support {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-areas: "aside aside text";
  }

  .support-img {
    height: auto;
    width: 100%;
    margin-top: 10rem;
    background: url("../images/7.jpeg") no-repeat center center/cover;
    grid-area: aside;
  }

  .about-content-1 {
    margin: 10rem 5rem 0 0;
    grid-area: text;
  }

  .about-content-2 {
    all: revert;
  }

  .about-content-1,
  .about-content-2 {
    margin-left: 1.25rem;
  }
  #contact-btn {
    margin-left: 20px;
  }
}
