@import "nav.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  font-family: helvetica, sans-serif;
  background-color: #323232;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  height: 100vh;
}

main {
  height: 100vh;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1 {
  line-height: 2.5rem;
}

p {
  line-height: 1.875rem;
}

#home {
  padding: 0px 20px;
}

.cta-img-holder {
  padding: 10em;
  background-image: url("../images/splash.jpeg");
  background-repeat: no-repeat;
  background-size: 90vw;
}

.home-cta-1 {
  margin-bottom: 40px;
}

.home-cta-2 {
  margin-bottom: 20px;
}
.cta-btn {
  width: 150px;
  height: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 100rem;

  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  /* border: solid 3px transparent; */
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(101deg, #3eacbd, #016774) 1;
  /* background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #3eacbd, #016774); */
  /* border-color: linear-gradient(101deg, #3eacbd, #016774); */
  /* background-image: linear-gradient(transparent, transparent); */
  /* background-origin: border-box;
  background-clip: content-box, border-box; */
  /* box-shadow: 2px 1000px 1px rgb(50, 50, 50, 100%) inset; */

  /* border: 2px solid transparent;
  /* border-right-color: #743ad5; */
  /* border-color: linear-gradient(101deg, #3eacbd, #016774);
   background: linear-gradient(
        to left,
        rgb(116, 58, 213) 0%,
        rgb(186, 58, 143) 70%,
        transparent 70%,
        transparent 85%,
        rgb(201, 58, 128) 85%,
        rgb(213, 58, 157) 100%
      )
      top/100% 2px, 
    linear-gradient(to left, #743ad5 0%, #d53a9d 100%) bottom/100% 2px;
  background-repeat: no-repeat; */
}

/* .cta-btn:hover {
  background: linear-gradient(to bottom, #3eacbd 0%, #016774 100%);
} */

#about {
  display: flex;
  flex-direction: column;
}

.about-img {
  max-width: 100%;
  z-index: -1;
}

.about-content {
  margin-top: -120px;
  padding-left: 20px;
}

.heading {
  margin: 0 20px 0;
}

.about-content-2,
.experience-card-2 {
  margin-top: 20px;
  padding: 20px;
}

.contact {
  margin: 80px 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tl {
  visibility: hidden;
}

#services {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-content: center;
  background: blue;
}

.services-card-img {
  /* margin: 0 40px 20px; */
  width: 305px;
  border-radius: 15px;
}

.services-card-holder {
  /* margin: 0 40px 80px; */
  width: 305px;
  height: 66px;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(165, 165, 165, 20%);
  box-shadow: 15px 15px 50px rgb(0 0 0 / 0.4);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sevices-sub-card {
  font-size: 2rem;
  font-weight: 700;
}

@media (min-width: 62em) {
  .hamburger {
    display: none;
  }

  /* .sticky {
    position: fixed;
    
    /* top: 40px; */
  /* width: 100%; */
  /* height: 194px; */
  /* }  */

  header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  section {
    height: 100vh;
    width: 100%;
  }

  nav {
    all: revert;
    position: fixed;
    height: 86px;
    width: 800px;
    margin-top: 40px;
    box-shadow: 0 8px 32px 0 rgba(0 0 0 / 0.4);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 25px 0 0 25px;
    border: 1px solid rgba(165, 165, 165, 0.2);
    border-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    z-index: 4;
  }

  .cta-btn-nav {
    visibility: visible;
    margin: 25px 30px 0 0;
  }

  .nav-menu {
    all: revert;
    list-style: none;
    visibility: visible;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  li a {
    margin-right: 1.25rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
  }

  #home {
    margin-bottom: 40px;
    padding: 0 0;
    background: url("../images/splash.jpeg") no-repeat center center/cover;
  }

  .cta-img-holder {
    all: revert;
    /* background: url("../images/splash.jpeg") no-repeat center center/cover; */
    /* height: 100%; */
    /* position: relative; */
    /* Center and scale the image nicely */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; */
    /* min-height: 100vh;
    min-width: 100vw; */

    /* Set up proportionate scaling */
    /* width: 100%;
    height: auto; */

    /* Set up positioning */
    /* position: absolute;
    top: 0;
    left: 0;
    z-index: -1; */

    /* min-width: 1024px; */
    /* background-image: url("../images/splash.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  }

  .home-cta {
    height: 310px;
    width: 1089px;
    left: 0px;
    top: 30%;
    position: relative;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(0 0 0 / 0.4);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 0 25px 25px 0;
    border: 1px solid rgba(165, 165, 165, 0.2);
    border-left: 0;
    z-index: 2;
  }

  .home-cta-1 {
    line-height: 39px;
    margin-bottom: 20px;
  }

  p {
    line-height: 30px;
  }

  .cta-btn-splash {
    margin-bottom: 40px;
  }
  #about {
    all: revert;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas:
      "aside content"
      "contact contact";
  }

  aside {
    position: relative;
    background: url("../images/2.jpeg") no-repeat center center/cover;
    max-height: 100vh;
    width: 700px;
    grid-area: aside;
    z-index: -1;
  }

  .back {
    position: relative;
    height: 100vh;
    grid-area: content;
    z-index: -4;
    display: flex;
    flex-direction: column;
    background: blue;
  }

  .about-content {
    all: revert;
    height: 620px;
    width: 1010px;
    /* ttop: -75vh; */
    position: relative;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(0 0 0 / 0.4);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 0 25px 25px 0;
    border: 1px solid rgba(165, 165, 165, 0.2);
    border-left: 0;
    z-index: 2;
  }

  .tl {
    visibility: visible;
    font-size: 15vw;
    color: #525151;
    font-weight: bold;
    width: 800;
  }

  #about-background-text-1 {
    margin-top: 250px;
    margin-bottom: 500px;
    padding-left: 80px;
  }

  #about-background-text-2 {
    padding-left: 5px;
  }

  .about-contact {
    grid-area: contact;
  }

  #services {
    all: revert;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
