nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7.5rem;
}

.cta-btn-nav {
  visibility: hidden;
}

.hamburger {
  display: block;
  cursor: pointer;
  margin: 20px 0 40px 0;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

.nav-menu {
  list-style: none;
  position: fixed;
  left: -100%;
  margin: 7.5rem 0;
  padding: 1rem 0;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 8px 32px 0 rgba(0 0 0 / 0.4);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.nav-menu.active {
  left: 0;
}

li {
  /* position: relative; */
  margin: 1.25rem 0 0 1.25rem;
}

.nav-a {
  font-weight: bold;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
